.wrapper {
  margin: 0 10vw;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(256deg, #262626 13.26%, #131212 91.41%);
overflow: hidden;
}

.background {
  height: 120%;
  background-image: url(./assets/BG-cubes.png);
  background-position: 0px -130px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}